<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.project.multimode.mapper.CoalitionCompanyMapper">

    <resultMap id="CoalitionCompanyResult" type="com.ruoyi.project.multimode.domain.CoalitionCompany">
        <result property="coalitionId" column="coalition_id" />
        <result property="companyId" column="company_id" />
        <result property="dateNumber" column="date_number" />
        <result property="actualNumber" column="actual_number" />
        <result property="dateTime" column="date_time" />
        <result property="actualTime" column="actual_time" />
    </resultMap>

    <insert id="insertCoalitionCompany">
        INSERT INTO coalition_company
        (coalition_id, company_id, date_number, actual_number, date_time, actual_time)
        VALUES
            (#{coalitionId}, #{companyId}, #{dateNumber}, #{actualNumber}, #{dateTime}, #{actualTime})
    </insert>

</mapper>
