<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.project.multimode.mapper.TasklistMapper">
    <resultMap type="Tasklist" id="TasklistResult">
        <result property="taskId"    column="task_id"    />
        <result property="taskName"    column="task_name"    />
    </resultMap>
    <select id="findAll" resultType="com.ruoyi.project.multimode.domain.Tasklist">
        SELECT * FROM tasklist;
    </select>


    <!-- 对个数进行统计 -->
    <select id="countTasklistById" resultType="int">
        SELECT task_id, COUNT(*)
        FROM tasklist
        GROUP BY task_id;
    </select>

    <select id="getTaskAndSubtaskInfo" resultMap="TasklistResult">
        SELECT t.taskId, t.taskName, s.subtaskId
        FROM Tasklist t
                 LEFT JOIN Subtasklist s ON t.taskId = s.taskId
        ORDER BY t.taskId, s.subtaskId;
    </select>

    <select id="findTaskNameById" resultType="string">
        SELECT task_name FROM tasklist WHERE task_id = #{taskId}
    </select>
</mapper>