<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.project.dataFusion.mapper.CompanyMapper">
    <resultMap id="linkResultMap" type="com.ruoyi.project.dataFusion.domain.Link">
        <result property="sourceLocation" column="source_id"/>
        <result property="targetLocation" column="target_id"/>
    </resultMap>

    <resultMap id="RelationResultMap" type="com.ruoyi.project.dataFusion.domain.Relation">
        <result property="sourceId" column="source_id"/>
        <result property="targetId" column="target_id"/>
        <result property="isSupply" column="is_supply"/>
        <result property="isCooperation" column="is_cooperation"/>
        <result property="isCompetition" column="is_competition"/>
    </resultMap>

    <update id="updateCompanyCategory">
        UPDATE company_cj
        SET category = #{category}
        WHERE id = #{companyId}
    </update>

    <update id="updateSupplyRelationStrength">
        UPDATE company_supply_relation_cj
        SET supply_relation = #{supply_relation}
        where source_location = #{source_location}
          AND target_location = #{target_location}
    </update>

    <update id="updateCompetitionRelationStrength">
        UPDATE company_competition_relation_cj
        SET competition_relation = #{competition_relation}
        where source_location = #{source_location}
          AND target_location = #{target_location}
    </update>

    <update id="updateCooperationRelationStrength">
        UPDATE company_cooperation_relation_cj
        SET cooperation_relation = #{cooperation_relation}
        where source_location = #{source_location}
          AND target_location = #{target_location}
    </update>
    <update id="updateTotalStrength">
        UPDATE company_relation_cj
        SET total_relation = #{total_relation}
        where source_id = #{source_id}
          AND target_id = #{target_id}
    </update>

    <select id="getAllCompanies" resultType="com.ruoyi.project.dataFusion.domain.Company2">
        SELECT c.*, l.location_id, l.location_x, l.location_y, l.layer
        FROM company_cj c
                 JOIN company_location_cj l
                      ON c.id = l.company_id
    </select>

    <select id="getAllCompaniesWithoutLocation" resultType="com.ruoyi.project.dataFusion.domain.Company2">
        select c.*
        from company_cj c
    </select>

    <select id="getAllCompaniesWithOverAllLocation" resultType="com.ruoyi.project.dataFusion.domain.Company2">
        SELECT c.*, l.location_x, l.location_y
        FROM company_cj c
                 JOIN company_overall_location_cj l
                      ON c.id = l.company_id
    </select>

    <select id="getAllLinks" resultType="com.ruoyi.project.dataFusion.domain.Link">
        SELECT id,
               source_location,
               target_location,
               competition_relation AS strengthRelation
        FROM company_competition_relation_cj
        UNION
        SELECT id,
               source_location,
               target_location,
               cooperation_relation AS strengthRelation
        FROM company_cooperation_relation_cj
        UNION
        SELECT id,
               source_location,
               target_location,
               supply_relation AS strengthRelation
        FROM company_supply_relation_cj
    </select>

    <select id="getOverallLinks" resultType="com.ruoyi.project.dataFusion.domain.Link">
        --         SELECT id, source_id AS sourceLocation, target_id AS targetLocation,
--                total_relation AS strengthRelation
--         FROM company_relation_cj
        SELECT sourceId                                                         AS sourceLocation,
               targetId                                                         AS targetLocation,
               MAX(competition_relation)                                        AS competitionRelation,
               MAX(supply_relation)                                             AS supplyRelation,
               MAX(cooperation_relation)                                        AS cooperationRelation,
               MAX(total_relation)                                              AS strengthRelation,
               GROUP_CONCAT(DISTINCT analysis ORDER BY analysis SEPARATOR ', ') AS analysis
        FROM (SELECT cr.source_id                          AS sourceId,
                     cr.target_id                          AS targetId,
                     COALESCE(csr.competition_relation, 0) AS competition_relation,
                     0                                     AS supply_relation,
                     0                                     AS cooperation_relation,
                     cr.total_relation,
                     cr.analysis
              FROM company_relation_cj cr
                       JOIN
                   company_location_cj cl_source ON cr.source_id = cl_source.company_id
                       JOIN
                   company_location_cj cl_target ON cr.target_id = cl_target.company_id
                       JOIN
                   company_competition_relation_cj csr ON cl_source.location_id = csr.source_location
                       AND cl_target.location_id = csr.target_location

              UNION

              SELECT cr.source_id                     AS sourceId,
                     cr.target_id                     AS targetId,
                     0                                AS competition_relation,
                     COALESCE(csr.supply_relation, 0) AS supply_relation,
                     0                                AS cooperation_relation,
                     cr.total_relation,
                     cr.analysis
              FROM company_relation_cj cr
                       JOIN
                   company_location_cj cl_source ON cr.source_id = cl_source.company_id
                       JOIN
                   company_location_cj cl_target ON cr.target_id = cl_target.company_id
                       JOIN
                   company_supply_relation_cj csr ON cl_source.location_id = csr.source_location
                       AND cl_target.location_id = csr.target_location

              UNION

              SELECT cr.source_id                          AS sourceId,
                     cr.target_id                          AS targetId,
                     0                                     AS competition_relation,
                     0                                     AS supply_relation,
                     COALESCE(csr.cooperation_relation, 0) AS cooperation_relation,
                     cr.total_relation,
                     cr.analysis
              FROM company_relation_cj cr
                       JOIN
                   company_location_cj cl_source ON cr.source_id = cl_source.company_id
                       JOIN
                   company_location_cj cl_target ON cr.target_id = cl_target.company_id
                       LEFT JOIN
                   company_cooperation_relation_cj csr ON cl_source.location_id = csr.source_location
                       AND cl_target.location_id = csr.target_location) AS subquery
        GROUP BY sourceId,
                 targetId;
    </select>
    <select id="getGroupInfo" resultType="com.ruoyi.project.dataFusion.domain.Group">
        SELECT g.group_id           AS name,
               GROUP_CONCAT(c.name) AS list,
               COUNT(c.id)          AS value,
               g.`describe`
        FROM company_group_cj g
                 JOIN
             company_cj c ON g.group_id = c.category
        GROUP BY g.group_id, g.`describe`;
    </select>

    <select id="getSupplyAdjacency" resultMap="linkResultMap">
        SELECT sl.company_id AS source_id,
               tl.company_id AS target_id
        FROM (SELECT source_location, target_location
              FROM company_supply_relation_cj) r
                 LEFT JOIN company_location_cj sl ON r.source_location = sl.location_id
                 LEFT JOIN company_location_cj tl ON r.target_location = tl.location_id
                 LEFT JOIN company_supply_relation_cj s
                           ON r.source_location = s.source_location AND r.target_location = s.target_location;
    </select>

    <select id="getCompetitionAdjacency" resultMap="linkResultMap">
        SELECT sl.company_id AS source_id,
               tl.company_id AS target_id
        FROM (SELECT source_location, target_location FROM company_competition_relation_cj) r
                 LEFT JOIN company_location_cj sl ON r.source_location = sl.location_id
                 LEFT JOIN company_location_cj tl ON r.target_location = tl.location_id
                 LEFT JOIN company_competition_relation_cj s
                           ON r.source_location = s.source_location AND r.target_location = s.target_location;
    </select>

    <select id="getCooperationAdjacency" resultMap="linkResultMap">
        SELECT sl.company_id AS source_id,
               tl.company_id AS target_id
        FROM (SELECT source_location, target_location FROM company_cooperation_relation_cj) r
                 LEFT JOIN company_location_cj sl ON r.source_location = sl.location_id
                 LEFT JOIN company_location_cj tl ON r.target_location = tl.location_id
                 LEFT JOIN company_cooperation_relation_cj s
                           ON r.source_location = s.source_location AND r.target_location = s.target_location;
    </select>

    <select id="getLocationIdByCompanyId" resultType="java.lang.Integer">
        SELECT location_id
        FROM company_location_cj
        WHERE company_id = #{companyId}
          and layer = #{layer}
    </select>

    <select id="getAllRelation" resultType="com.ruoyi.project.dataFusion.domain.Relation">
        SELECT source_id, target_id, is_supply, is_cooperation, is_competition
        FROM company_relation_cj
    </select>

    <select id="selectSupplyStrength" resultType="java.lang.Double">
        SELECT supply_relation
        FROM company_supply_relation_cj
        WHERE source_location = #{source_location}
          and target_location = #{target_location}
    </select>
    <select id="selectCooperationStrength" resultType="java.lang.Double">
        SELECT cooperation_relation
        FROM company_cooperation_relation_cj
        WHERE source_location = #{source_location}
          and target_location = #{target_location}
    </select>
    <select id="selectCompetitionStrength" resultType="java.lang.Double">
        SELECT competition_relation
        FROM company_competition_relation_cj
        WHERE source_location = #{source_location}
          and target_location = #{target_location}
    </select>
</mapper>