<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.project.multig.mapper.CompanyMapper">
    <!-- 其他查询操作 ... -->

    <!-- 根据任务ID查询相关联的企业 -->
    <select id="selectCompaniesByTaskId" resultType="com.ruoyi.project.multig.domain.Company">
        SELECT DISTINCT c.id AS "id", c.name AS "name"
        FROM company_all c

                 JOIN coalition_company tcl ON c.id = tcl.company_id
                 JOIN  coalition co ON tcl.coalition_id = co.id
            LEFT JOIN score_records_sxz sr ON c.id = sr.evaluated_company_id
            AND sr.task_id = #{taskId}
            AND sr.company_id = 1
        WHERE co.task_id = #{taskId}
          AND sr.id IS NULL
          AND tcl.company_id != 1
    </select>


</mapper>
