<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.project.multigshow.mapper.MultigshowEnterpriseMapper">
    <resultMap id="enterpriseResultMap" type="com.ruoyi.project.multigshow.domain.MultigshowEnterprise">
        <result property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="company_type" column="company_type"/>
        <result property="layer_id" column="layer_id"/>
        <result property="score" column="score"/>
    </resultMap>

    <select id="selectEnterpriseList" resultMap="enterpriseResultMap">
        SELECT
            MIN(id) as id,
            MAX(name) as name,
            MAX(company_type) as company_type,
            MAX(layer_id) as layer_id,
            MAX(score) as score
        FROM company_all
        GROUP BY id;

    </select>

</mapper>
