<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.project.shareIncentive.mapper.AuctionMapper">

    <insert id="add">
        INSERT INTO `ry-vue`.auction_record (UserID, DataID, AuctionTime, WinningPrice, Status)
        VALUES (yourUserIDValue, yourDataIDValue, yourAuctionTimeValue, yourWinningPriceValue, '成功');

    </insert>
</mapper>